<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card (click)="video()">
    <img src="assets/img/card-video.jpg"/>
    <div class="card-title">Video</div>
    <div class="card-subtitle">view an advertisment to generate some cents for me</div>
  </ion-card>

  <ion-card>
    <a href="https://www.buymeacoffee.com/TzM2Vwa4L">
      <img src="https://cdn.buymeacoffee.com/buttons/default-orange.png" alt="Buy Me A Coffee"/>
    </a>
  </ion-card>

  <ion-card>
    <a href="https://paypal.me/toburgsys">
      <img src="assets/img/card-paypal.jpg" alt="PayPal"/>
    </a>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label>Two icons were made by <a href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>One icon by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>One icon by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></ion-label>
    </ion-item>
  </ion-list>

  

</ion-content>