<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>How To</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="startTuturial()">Show tutorial</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>1. Select your two cards from the Cards Section</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>2. Select the dealers card from the Cards Section</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>3. Click Calculate</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>4. See what the App suggests you to do in the You Should Section</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>5. If you hit, select your next card and click Calculate</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>6. If the round is over reset and start with 1.</div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
