<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>How To</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" (click)="startTuturial()">Show tutorial</ion-button>

  <ion-list>
    <ion-item>
      <ion-label>1. Select your two cards from the Cards Section</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>2. Select the dealers card from the Cards Section</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>3. Click Calculate</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>4. See what the App suggests you to do in the You Should Section </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>5. If you hit, select the next card an click Calculate</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>6. Rest and start your next round</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
