<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item-divider>
      <ion-label>
        General
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-icon slot="start" name="analytics-outline"></ion-icon>
      <ion-label>Strategy</ion-label>
      <ion-select [(ngModel)]="strategy" (ionChange)="onChangeStrategy($event)">
        <ion-select-option value="1">Johnslots.com</ion-select-option>
        <ion-select-option value="2">profitsquad.co.uk</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="link-outline"></ion-icon>
      Link to &nbsp;
      <a *ngIf="strategy == 1" target="_blank" href="https://www.johnslots.com/en/blackjack/how-to-win-at-blackjack/"> Johnslots.com</a>
      <a *ngIf="strategy == 2" target="_blank" href="https://www.profitsquad.co.uk/blackjack-strategy-how-to-play-perfect-blackjack/"> Profitsquad.co.uk</a>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        Theme
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-icon slot="start" name="shapes-outline"></ion-icon>
      <ion-label>Suits</ion-label>
      <ion-select  [(ngModel)]="suits" (ionChange)="onChangeSuits($event)">
        <ion-select-option value="hearts">Hearts</ion-select-option>
        <ion-select-option value="diamonds">Diamonds</ion-select-option>
        <ion-select-option value="clubs">Clubs</ion-select-option>
        <ion-select-option value="spades">Spades</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="tablet-portrait-outline"></ion-icon>
      <ion-label>Backside of Cards</ion-label>
      <ion-select  [(ngModel)]="backside" (ionChange)="onChangeBackside($event)">
        <ion-select-option value="red">Red</ion-select-option>
        <ion-select-option value="blue">Blue</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="moon-outline"></ion-icon>
      <ion-label>
        Dark Mode
      </ion-label>
      <ion-toggle [(ngModel)]="darkmode" (ionChange)="onChangeDarkMode($event)"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="reload-outline"></ion-icon>
      <ion-label>
        Auto Calculation
      </ion-label>
      <ion-toggle [(ngModel)]="autocalc" (ionChange)="onChangeAutoCalc($event)"></ion-toggle>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        Legal
      </ion-label>
    </ion-item-divider>
    
    <ion-item>
      <a target="_blank" href="https://sites.google.com/view/blackjackwinhelperprivacy/home"> Privacy Policy</a>
    </ion-item>
  </ion-list>

</ion-content>
