<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Black Jack</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="separator">Your Cards</div>
  <ion-button disabled color="success" id="yc1" size="large"><img id="yc1img" src="assets/img/cards/backside-blue.png"></ion-button>
  <ion-button disabled color="primary" id="yc2" size="large"><img id="yc2img" src="assets/img/cards/backside-blue.png"></ion-button>
  <ion-button disabled color="primary" id="yc3" size="large"><img id="yc3img" src="assets/img/cards/backside-blue.png"></ion-button>
  <ion-button disabled color="primary" id="yc4" size="large"><img id="yc4img" src="assets/img/cards/backside-blue.png"></ion-button>
  <ion-button disabled color="primary" id="yc5" size="large"><img id="yc5img" src="assets/img/cards/backside-blue.png"></ion-button>
  
  <div class="separator">Dealer Card</div>
  <ion-button disabled color="primary" id="dc1" size="large"><img id="dc1img" src="assets/img/cards/backside-blue.png"></ion-button>
  
  <div class="separator">Cards</div>
  <ion-button fill="clear" (click)="clickCard('A', $event)" size="large"><img src="assets/img/cards/ace_of_spades.png"></ion-button>
  <ion-button fill="clear" (click)="clickCard('K', $event)" size="large"><img src="assets/img/cards/king_of_spades2.png"></ion-button>
  <ion-button fill="clear" (click)="clickCard('Q', $event)" size="large"><img src="assets/img/cards/queen_of_spades2.png"></ion-button>
  <ion-button fill="clear" (click)="clickCard('J', $event)" size="large"><img src="assets/img/cards/jack_of_spades2.png"></ion-button>
  <ion-button fill="clear" (click)="clickCard('10', $event)" size="large"><img src="assets/img/cards/10_of_spades.png"></ion-button>
  <ion-button fill="clear" (click)="clickCard('9', $event)" size="large"><img src="assets/img/cards/9_of_spades.png"></ion-button>
  <ion-button fill="clear" (click)="clickCard('8', $event)" size="large"><img src="assets/img/cards/8_of_spades.png"></ion-button>
  <ion-button fill="clear" (click)="clickCard('7', $event)" size="large"><img src="assets/img/cards/7_of_spades.png"></ion-button>
  <ion-button fill="clear" (click)="clickCard('6', $event)" size="large"><img src="assets/img/cards/6_of_spades.png"></ion-button>
  <ion-button fill="clear" (click)="clickCard('5', $event)" size="large"><img src="assets/img/cards/5_of_spades.png"></ion-button>
  <ion-button fill="clear" (click)="clickCard('4', $event)" size="large"><img src="assets/img/cards/4_of_spades.png"></ion-button>
  <ion-button fill="clear" (click)="clickCard('3', $event)" size="large"><img src="assets/img/cards/3_of_spades.png"></ion-button>
  <ion-button fill="clear" (click)="clickCard('2', $event)" size="large"><img src="assets/img/cards/2_of_spades.png"></ion-button>

  <div class="separator">You should:</div>
  <!-- Item Labels -->
  <ion-item>
    <ion-label id="action"></ion-label>
  </ion-item>

</ion-content>

<div class="footer"> 
  <div class="separator">Actions</div>
  <ion-button expand="block" [disabled]="disabled" (click)="calculate()">Calculate</ion-button>
  <ion-button expand="block" (click)="reset()" color="danger">Reset</ion-button>
</div>
